:host {
  flex: 0 1 auto;
  border-radius: 10px;
  background-color: white;
  padding: 20px 19px;
  box-shadow: 0 11px 15px -9px rgba(0, 0, 0, 0.25);
}

h2 {
  font-family: var(--display-font-stack);
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
