:host {
  height: 70vh;
}

.mainContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;

  overflow-y: auto;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

h2 {
  font-family: var(--display-font-stack);
  font-size: 45px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

h3 {
  color: #6b6767;
  font-family: var(--display-font-stack);
  font-size: 50px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 700px) {
  :host {
    margin-top: 10px;
  }

  :host,
  .mainContainer {
    height: 98%;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 37px;
  }

  .dataContainer {
    gap: 20px;
  }
}
