:host {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 6px 15px -9px rgba(0, 0, 0, 0.25);
  padding: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reservationSpotData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.reservationStatus {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.spotTitle {
  font-size: 31px;
  font-weight: 600;
  line-height: normal;
}

.spotPrice {
  font-family: var(--display-font-stack);
  font-size: 45px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

.reservationStatus > span {
  color: #6b6767;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.reservationStatus > span.completed {
  color: var(--bright-green);
}

.reservationStatus > span.cancelled {
  color: var(--raspberry);
}

@media (max-width: 700px) {
  :host {
    padding: 10px;
  }

  .spotTitle {
    font-size: 25px;
  }

  .spotPrice {
    font-size: 35px;
  }

  .reservationStatus > span {
    font-size: 14px;
  }
}
