<div class="reservationSpotData">
  <span class="spotTitle">{{ this.spotTitle() }}</span>
  <div class="reservationStatus">
    <span class="dateText">{{ this.returnFormattedDate(this.dateText()) }}</span>
    <span>&#9679;</span>
    <span
      [class]="{
        statusText: true,
        completed: this.status() === this.ReservationEnum.COMPLETED,
        cancelled: this.status() === this.ReservationEnum.CANCELLED,
      }"
      >{{ this.status() }}</span
    >
  </div>
</div>
<span class="spotPrice"> &#8382;{{ this.amount() }} </span>
