:host {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 6px 15px -9px rgba(0, 0, 0, 0.25);
  padding: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reservationSpotData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.reservationStatus {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.spotTitle {
  font-size: 31px;
  font-weight: 600;
  line-height: normal;
}

.reservationStatus > span {
  color: #6b6767;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.reservationStatus > span.completed {
  color: var(--bright-green);
}

.reservationStatus > span.cancelled {
  color: var(--raspberry);
}
