:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;
  box-shadow: 0 6px 15px -9px rgba(0, 0, 0, 0.25);
  padding: 16px 15px;
  background-color: white;
}

.spotCardDataContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.spotTitle {
  display: inline-block;
  font-size: 21px;
  font-weight: 700;
  line-height: normal;
  margin-top: 5px;
}

.spotStatusTextContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5px;
}

.spotStatusTextContainer > span {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  opacity: 0.7;
}

#spotStatus {
  font-size: 19px;
}

button {
  border: none;
  border-radius: 5px;
  background-color: var(--jet);
  padding: 8px 41px;

  color: var(--meant-cream);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

#spotStatus.spotFree {
  color: var(--bright-green);
}

#spotStatus.spotTaken {
  color: var(--raspberry);
}

#spotStatus.spotReserved {
  color: var(--bright-amber);
}
