<div class="container">
  <div class="sectionContainer">
    <h2 class="sectionTitle">Payment Method</h2>

    @let currentPaymentCard = this.currentPaymentCard();
    @if (currentPaymentCard) {
      <app-payment-card
        [cardNumber]="currentPaymentCard.cardNumber"
        [cardHolderName]="currentPaymentCard.cardHolderName"
        [expirationMonth]="currentPaymentCard.cardExpirationMonth"
        [expirationYear]="currentPaymentCard.cardExpirationYear"
        (deletePaymentCard)="onDeletePaymentCard()"
      />
    } @else {
      <app-payment-card-form (formSubmitted)="onSubmit($event)" />
    }
  </div>
  <div class="sectionContainer bottomSection">
    <h2 class="sectionTitle">Account Action</h2>
    <button>Delete User</button>
  </div>
</div>
