:host {
  display: block;
  height: 100%;
  position: relative;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: var(--display-font-stack);
  font-size: 45px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

h3 {
  color: #6b6767;
  font-family: var(--display-font-stack);
  font-size: 50px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

.parkingSpotCardContainer {
  position: absolute;
  top: 79px;
  bottom: 0;
  left: 0;
  right: 0;

  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 25px;
}
