.infoLayoutContainer {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.infoContainer > span {
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 700px) {
  .infoLayoutContainer {
    margin-top: 15px;
  }

  .infoContainer > span {
    font-size: 15px;
  }
}
