:host {
  border-radius: 10px;
  background: var(--jet);
  box-shadow: 0 6px 15px -9px rgba(0, 0, 0, 0.25);
  padding: 30px 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.cardNumberText {
  color: var(--meant-cream);
  font-family: var(--display-font-stack);
  font-size: 45px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

.bottomSection {
  margin-top: 72px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
}

.labelText {
  color: #6b6767;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 4.32px;
}

.contentText {
  color: var(--meant-cream);
  font-family: var(--display-font-stack);
  font-size: 37px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 7.77px;
}

.last {
  text-align: right;
}

button {
  border: none;
  border-radius: 10px;

  margin-top: 15px;
  padding: 15px 40px;

  background-color: var(--raspberry);
  color: var(--meant-cream);

  font-size: 19px;
  font-weight: 500;
  line-height: normal;
}
