:host {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 6px 15px -9px rgba(0, 0, 0, 0.25);
  padding: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.reservationInfoLayout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 22%;
}

.spotTitle {
  font-family: var(--display-font-stack);
  font-size: 35px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.4px;
}

.reservationInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

img {
  height: 32px;
  width: 32px;
}

.reservationInfoText {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 13px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

button {
  padding: 8px 86px;
  border: none;
  border-radius: 5px;
  background: none;
}

.checkInButton {
  background-color: var(--jet);
  color: var(--meant-cream);
  transition: var(--transition-hover-background);
}

.checkInButton:hover {
  background-color: var(--jet-hover);
}

.checkInButton:active {
  background-color: var(--jet-active);
}

.cancelButton {
  border: 1px solid var(--raspberry);
  color: var(--raspberry);
  transition: var(--transition-hover-all);
}

.cancelButton:hover {
  border-color: var(--raspberry-hover);
  color: var(--raspberry-hover);
}

.cancelButton:active {
  border-color: var(--raspberry-hover);
  color: var(--raspberry-hover);
}

.cancelButton,
.checkInButton {
  cursor: pointer;
}

@media (max-width: 1024px) {
  :host {
    flex-direction: column;
    gap: 20px;
  }

  .rightSide {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .reservationInfoLayout {
    margin-bottom: 0;
  }

  .buttonContainer {
    width: 100%;
  }

  button {
    flex: 1 1 100%;
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  :host {
    padding: 10px;
  }

  .leftSide {
    gap: 14px;
  }

  .spotTitle {
    font-size: 25px;
  }

  .reservationInfoText {
    font-size: 14px;
  }

  .reservationInfoContainer {
    gap: 6px;
  }

  img {
    height: 24px;
    width: 24px;
  }

  .reservationInfoText {
    font-size: 14px;
  }

  .buttonContainer {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  button {
    padding: 8px;
    font-size: 14px;
  }
}
