:host,
.imageContainer {
  width: 100%;
  height: auto;
}

.imageContainer {
  position: relative;
}

img {
  width: 100%;
  height: 100%;

  border-radius: 10px;

  aspect-ratio: 768/180;
  object-fit: cover;
  object-position: center;
}

.imageContainer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0));
  border-radius: 10px;
}

.imageTextContainer {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 1;
}

.parkingTitle {
  color: var(--meant-cream);
  font-family: var(--display-font-stack);
  font-size: 33px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 5.61px;
  text-transform: uppercase;
}

.parkingInfoContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.parkingInfoContainer > span {
  color: var(--meant-cream);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1024px) {
  :host,
  .imageContainer {
    height: 12vh;
  }

  .parkingTitle {
    font-size: 25px;
  }
}
