.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 30px;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.profileTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 4px 0;
}

.welcomeText {
  color: var(--jet);
  font-size: 15px;
  font-weight: 500;
  opacity: 0.7;
}

.userText {
  color: var(--raspberry-plum);
  font-family: var(--display-font-stack);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1.62px;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .profileContainer {
    height: 65px;
  }

  .profileTextContainer {
    justify-content: start;
    gap: 8px;
  }

  .welcomeText {
    margin-top: 6px;
    font-size: 17px;
  }

  .userText {
    font-size: 20px;
    width: max-content;
  }
}

@media (max-width: 700px) {
  .container {
    margin-top: 10px;
  }

  .profileContainer {
    gap: 6px;
  }

  .welcomeText {
    margin-top: 8px;
    font-size: 15px;
  }

  .userText {
    font-size: 19px;
  }
}
