/* CSS Reset Styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global Styles */
:root {
  --jet: #312f2f;
  --jet-disabled: #5e5959;
  --jet-hover: #312f2f;
  --jet-click: #312f2f;

  --meant-cream: #e5ece9;
  --raspberry-plum: #aa4586;

  --bright-green: #72ed42;
  --raspberry: #d81e5b;
  --bright-amber: #1069e5;

  --display-font-stack: 'Big Shoulders', -apple-system, sans-serif;
  --paragraph-font-stack: Urbanist, -apple-system, sans-serif;
}

body {
  font-family: var(--paragraph-font-stack);

  color: var(--jet);
  background-color: var(--meant-cream);
}

.globalContainerXMargin {
  margin: 0 10.209%;
}

.globalContainerXPadding {
  padding: 0 10.209%;
}

.black-text-toast .p-toast-detail {
  color: var(--jet) !important;
}
