:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.icon {
  max-width: 50px;
  max-height: 50px;
  width: 4.8vw;
  height: 4.9vh;

  background-color: var(--meant-cream);

  /* Apply the SVG as a mask */
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;

  /* Dynamic Image Source */
  -webkit-mask-image: var(--icon-url);
  mask-image: var(--icon-url);

  -webkit-mask-size: contain;
  mask-size: contain;
}

.text {
  color: var(--meant-cream);
  font-size: 19px;
  font-weight: 500px;
  line-height: normal;
}
